.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.form__label {
  font-size: 20px;
  font-weight: 500;
}

.form__text {
  margin: 0 0 5px;
}

.form__input {
  border-color: #d94e38;
  border-radius: 10px;
  color: black;
  min-width: 200px;
  text-align: center;
}

.form__input:focus {
  outline-color: #d94e28;
  outline-style: outset;
}

.form__button {
  font-family: "Sacramento", Arial, sans-serif;
  padding: 5px 40px 0;
  color: #fff;
  background-color: #d94e28;
  border-radius: 10px;
  min-width: 230px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}
