.page {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  margin: 0 auto;
  scrollbar-gutter: stable both-edges;
}

.main__header {
  display: flex;
  gap: 30px;
  padding: 100px 40px;
  justify-content: space-evenly;
}

.main__header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__header-right {
  width: 55%;
}

.main__logo {
  max-width: 300px;
}

.main__subtitle {
  font-family: "Sacramento", Arial, sans-serif;
  font-size: 30px;
  color: #6c0345;
}

.main__video {
  width: 100%;
  max-height: 550px;
  border-radius: 20px;
  -webkit-box-shadow: -14px 15px 41px -19px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -14px 15px 41px -19px rgba(0, 0, 0, 0.67);
  box-shadow: -14px 15px 41px -19px rgba(0, 0, 0, 0.67);
}

.main__planner {
  background: linear-gradient(
    180deg,
    rgb(255 110 71) 0%,
    rgba(255, 255, 255, 1) 50%
  );
  border-radius: 30px;
  min-height: 300px;
  padding: 20px 40px;
  margin: 0 30px 200px;
}

.main-planner-text {
  margin-bottom: 100px;
  font-family: "Sacramento", Arial, sans-serif;
  font-size: 60px;
  color: #6c0345;
}

.main__planner-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main__planner__image {
  max-width: 376px;
  border-radius: 30px;
  width: 100%;
}

.main__icon-flex {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__icon-item-flex {
  display: flex;
  gap: 40px;
  align-items: center;
}

.main__icon-img {
  width: 50px;
  height: 50px;
}

.main__icon-text {
  font-size: 40px;
  font-family: "Sacramento", Arial, sans-serif;
  color: #6c0345;
}

.main__icon-summary {
  font-size: 20px;
  color: #6c0345;
}

.main__ideas {
  background: linear-gradient(
    360deg,
    rgb(255 110 71) 0%,
    rgba(255, 255, 255, 1) 50%
  );
  border-radius: 30px;
  min-height: 300px;
  padding: 20px 40px;
  margin: 0 30px 200px;
}

.main__ideas-text {
  margin-bottom: 100px;
  font-family: "Sacramento", Arial, sans-serif;
  font-size: 60px;
}

.main__ideas-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 50px;
  padding: 0;
}

.main__ideas-images {
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 1235px) {
  .main__planner__image {
    max-width: 300px;
  }

  .main__icon-text {
    font-size: 30px;
  }
  .main__icon-summary {
    font-size: 16px;
  }

  .main__icon-img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 870px) {
  .main__header {
    flex-direction: column;
    padding: 50px 20px;
    align-items: stretch;
  }

  .main__video {
    width: 180%;
  }

  .main__planner-flex {
    flex-direction: column;
    gap: 100px;
  }

  .main__icon-flex {
    gap: 40px;
  }

  .main__icon-item-flex {
    flex-direction: column;
    gap: 10px;
  }

  .main__ideas-flex {
    flex-direction: column;
  }

  .main__ideas-images {
    max-width: 80%;
    border-radius: 30px;
  }
}

@media screen and (max-width: 560px) {
  .main__planner {
    margin: 0;
    padding: 10px 5px;
  }
  .main__header {
    padding: 30px 0;
  }
  .main__ideas {
    margin: 0;
  }
}
