.page {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  margin: 0 auto;
  scrollbar-gutter: stable both-edges;
}

.main__header {
  display: flex;
  gap: 30px;
  padding: 100px 40px;
  justify-content: space-evenly;
}

.main__header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__header-right {
  width: 55%;
}

.main__logo {
  max-width: 300px;
}

.main__subtitle {
  font-family: "Sacramento", Arial, sans-serif;
  font-size: 30px;
}

.main__video {
  width: 100%;
  max-height: 550px;
  border-radius: 20px;
  -webkit-box-shadow: -14px 15px 41px -19px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -14px 15px 41px -19px rgba(0, 0, 0, 0.67);
  box-shadow: -14px 15px 41px -19px rgba(0, 0, 0, 0.67);
}

.main__planner {
  background: linear-gradient(
    180deg,
    rgb(255 110 71) 0%,
    rgba(255, 255, 255, 1) 50%
  );
  border-radius: 30px;
  min-height: 300px;
  padding: 20px 40px;
  margin-bottom: 200px;
}

.Main-planner-text {
  margin-bottom: 100px;
  font-family: "Sacramento", Arial, sans-serif;
  font-size: 50px;
}

.Main__planner-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.planner__image {
  max-width: 400px;
  border-radius: 30px;
}

.main__ideas {
  background: linear-gradient(
    360deg,
    rgb(255 110 71) 0%,
    rgba(255, 255, 255, 1) 50%
  );
  border-radius: 30px;
  min-height: 300px;
  padding: 20px 40px;
  margin-bottom: 200px;
}

.main__ideas-text {
  margin-bottom: 100px;
  font-family: "Sacramento", Arial, sans-serif;
  font-size: 50px;
}

.main__ideas-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 50px;
}

/* .main__ideas-item {
  width: 100px;
  height: 100px;
} */

.ideas-images {
  max-width: 100%;
}

@media (max-width: 870px) {
  .main__header {
    flex-direction: column;
    padding: 50px 20px;
    align-items: center;
  }
}
