.menu-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgb(255 110 71) 0%,
    rgba(255, 255, 255, 1) 95%
  );
  border-radius: 30px;
  padding: 10px 40px;
  max-width: 600px;
  margin: 5px auto;
}
.menu-section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 500px;
  width: 100%;
}
.menu-section__title {
  font-family: "Sacramento", Arial, sans-serif;
  margin-right: auto;
  font-size: 30px;
  color: #6c0345;
}
.menu-section__inputs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.menu-section__input {
  height: 50px;
  border: 1px transparent;
  box-sizing: border-box;
  background-color: #fff;
  color: inherit;
  border-radius: 10px;
  min-width: 200px;
  text-align: center;
}

.menu-section__input:focus {
  outline-style: inset;
  border: 1px solid #d94e28;
}

.menu-section__button_action_add {
  font-family: "Sacramento", Arial, sans-serif;
  padding: 0 20px 0;
  color: #fff;
  background-color: #d94e28;
  border-radius: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.menu-section__button_action_add:hover {
  transform: scale(1.06);
  box-shadow: rgb(143, 132, 132, 0.5) 5px 5px 5px;
}

.menu-section__content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  align-self: center;
}

.menu-section__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-section__item-container {
  display: flex;
  align-items: center;
  padding: 8px 0;
}

.menu-section__menu-item {
  width: 100%;
  background-color: rgba(217, 78, 40, 0.8);
  color: #fff;
  margin: 0 0 20px;
  border-radius: 10px;
}

.menu-section__menu-name {
  margin: 0;
}
.menu-section__item-info {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 30px;
}
.menu-section__chef-name {
  padding: 0;
  margin: 0;
}

.menu-section__item-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 10px 0 auto;
}

.menu-section__delete-btn {
  width: 26px;
  height: 26px;
  cursor: pointer;
  background: transparent url("../assets/trash.svg");
  border: none;
  padding: 0;
}
.menu-section__delete-btn:hover {
  background: transparent url("../assets/trashHover.svg");
}
.menu-section__input_type_edit-name {
  outline: none;
}
.menu-section__input_type_edit-title {
  padding: 0 0 0 20px;
  outline: none;
}
.menu-section__edit-btn {
  font-family: "Sacramento", Arial, sans-serif;
  padding: 5px 20px 0;
  color: #fff;
  background-color: #d94e28;
  border-radius: 10px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.menu-section__edit-btn:hover {
  transform: scale(1.06);
  box-shadow: rgb(143, 132, 132, 0.5) 5px 5px 5px;
}

.menu-section__save-button {
  cursor: pointer;
  margin: 20px 20px 20px 0;
  height: 26px;
}
.menu-section__button_action_clear {
  font-family: "Sacramento", Arial, sans-serif;
  margin-top: 20px;
  color: #fff;
  background-color: #d94e28;
  border-radius: 10px;
  min-width: 230px;
  height: 50px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.menu-section__button_action_clear:hover {
  transform: scale(1.06);
  box-shadow: rgb(143, 132, 132, 0.5) 5px 5px 5px;
}

@media screen and (max-width: 560px) {
  .menu-section {
    width: 80vw;
    padding: 10px;
  }
  .menu-section__inputs {
    flex-direction: column;
    gap: 10px;
  }

  .menu-section__title {
    margin: 20px auto;
  }

  .menu-section__button_action_clear {
    width: 100%;
  }

  .menu-section__item-container {
    flex-direction: column;
  }

  .menu-section__item-info {
    flex-direction: inherit;
  }

  .menu-section__item-btns {
    margin: auto;
  }
}
