.my-event {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.my-event__title {
  font-family: "Sacramento", Arial, sans-serif;
  color: #d94e28;
  margin: 10px auto 0;
  font-size: 50px;
  padding-bottom: 10px;
}

.my-event__subtitle {
  font-family: "Sacramento", Arial, sans-serif;
  font-size: 20px;
  padding: 5px;
  margin: 0;
}

@media screen and (max-width: 530px) {
  .my-event {
    display: flex;
    flex-direction: column;
  }
}
