.nav {
  padding: 20px 50px 5px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-self: flex-end;
  width: 100%;
}

.nav__link {
  color: #d94e28;
  text-decoration: none;
  padding: 5px;
  border-radius: 30px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s linear;
}

.nav__link_active {
  background-color: rgba(217, 78, 40, 0.8);
  color: #fff;
}

.nav__link:hover {
  background-color: rgba(217, 78, 40, 1);
  color: #fff;
  cursor: pointer;
}
